:root {
    --main-margin: 50px;
    --heading-line-height: 0.8rem; 
    --para-line-height: 1.5rem; 
}

* {
	box-sizing: border-box;
}

html,body {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
	font-family: Verdana, sans-serif;
	line-height: var(--para-line-height);
	width: 85%; 
	margin: 0 auto;

}

.logo {
	width: 15%;
}

.logo > img {
	width: 100%;
	height: 80%;
}

.navbar {
	display: flex;
 	height: 100px;
	justify-content: space-between;
}

nav > ul {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
} 

nav > ul >*{
	flex: 0 0 30%; 
	justify-content: space-between;
}

nav > ul > li > a {
	text-decoration: none;
	font-size: 1.2rem;
}

.quote {
	width: 120px;
	height: 100px;
	text-align: center;
	line-height: 1.5 !important;
	font-size: 1rem;
	background: #fca40c;
	font-weight: bold;
	padding: 10px;
	
}

header .hdimg {
	width: 100%;
	height: auto;
} 

header {
	margin-bottom: var(--main-margin);
	position: relative;
}

header > button {
	width: 20%;
	height: auto;
	border: 1px solid #fff;
	border-radius: 2rem;
	font-size: 0.5em;
	color: #fff;
	background: #a9a362;
	position: absolute;
	bottom: 26%;
	left: 2%;
	cursor: pointer;
	padding: 1%;

} 

.icons {
	display: flex;
	justify-content: center;
	margin: 30px 40px;
}

.icons > img{
	width: 150px;
	height: 150px;
	padding: 0.8rem;
}

.caption {
	margin-bottom: var(--main-margin);
}

.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--main-margin);
}

.projects > img {
	width: 100%;
	padding-bottom: var(--para-line-height);
}

.projects .subtitle {
	padding-bottom: var(--main-margin);
}

button {
	width: 100%;
	padding: 0.6rem;
	border-radius: 5px;
	font-weight: bold;
	letter-spacing: 0.2rem;
}

.fadein { 
	display: inline-flex;
	padding: 20px 0;
	justify-content: center;
	height: 150px;
	margin-bottom: var(--main-margin);
}

.fadein img {
	position: absolute;
	width: 100%; 
	transition:opacity 1s; 
	opacity:1; 
}

.fadein img.is-hidden { 
	opacity:0;
}

.projects {
	margin-bottom: var(--main-margin);
}

.title {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thumbnails > img{
	width: 100%;
	margin-bottom: 1.5rem;
}

.services {
	margin-bottom: var(--main-margin);
	display: flex;
	flex-direction: column;
}

.services > h4, h1{
	text-align: center;
	line-height: var(--heading-line-height);
}

.services > #tabs > ul {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0.9rem 0;
	height: 83px;
}

.services > #tabs > ul > li {
	display: block;
	
}

.services > #tabs > ul > li > a{
	flex-basis: auto;
	padding: 0.6rem;
	background: #5f5f5f;
	color: #fff;
	text-decoration: none;
	
}

.map-content {
	display: flex;
	flex-direction: column;
}

.contact {
	text-align: center;
	margin-bottom: var(--main-margin);
}

footer {
	display: inline-flex;
	justify-content: space-between;
	background: #696969;
	padding: 0.6rem;
}

.social-media .fab{
	color: #fff;
	padding-top: 2.5rem; 
	padding-right: 1rem;
}

footer > .copyright {
	margin: auto;
}

/*Media Queries*/
@media only screen and (min-width: 769px) {

.logo {
	width: 13%;
}

.logo > img {
	width: 100%;
	height: 100%;
}

nav > ul >*{
	flex-basis: auto;
	padding-right: 1.5rem;
}

.thumbnails {
	width: 90%;
}

.thumbnails > img {
	flex-direction: row;
	flex-wrap: wrap; 
	width: 48%;
	padding: 2%; 
}

button {
	width: 20%;
	justify-content: center;
}

.fadein {
	height: 250px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.services > .map-content {
	display: flex;
	flex-direction: row;
}

.services > .map-content > img {
	padding: 2%;
}

.services > .map-content > p {
	font-size: 1.5rem;
	line-height: 2rem;
	letter-spacing: 2px;

}

.services > button {
	align-self: center;
	margin: 1rem;
}

}

@media only screen and (max-width: 425px) {

	#wrapper {
		width: 95%;
	}
	.quote {
		display: none;
	}

	.navbar > nav > ul > li > a{ 
	font-size: 0.9em;
	padding:  0 0.3rem;
	}

	.navbar{ 
	height: 80px;
	}

	.navbar {
		padding-bottom: 0;
	}

	.logo {
	width: 20%;
	height: 50%;
	margin-top: 1.3rem;
	}

	.logo > img {
	width: 100%;
	height: 100%;
}

header{
	margin-bottom: 0;
}


header > button {
	width: 23%;
	font-size: 0.1em;
	bottom: 27%;
}

.caption > .icons{
	align-items: center;
	flex-direction: column;
}

.caption > .icons > img {
	width: 100px;
	height: 100px;
}
.caption > p {
	text-align: justify;
}

.fadein {
	margin-bottom: 0;
}

.services > #tabs > ul {
	height: 250px;
}

.services > #tabs > ul > li {
	width: 100%;
	border: 1px solid #fff;
}

.services > #tabs > ul > li > a {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services > .map-content > img {
	height: 200px;
} 

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

}